<div>
  <tts
    [template]="template"
    [cards]="cards"
    [fileName]="monsterName"
    [fileExtension]="'jpg'">
  </tts>
</div>

<ng-template #tts let-card>
    <ng-container *ngIf="card.referenceFlg">
      <monster-reference
        [monster]="card">
      </monster-reference>
    </ng-container>
    <ng-container *ngIf="isBuff(card)">
      <monster-buff
        [buff]="card">
      </monster-buff>
    </ng-container>
    <ng-container *ngIf="isAction(card)">
      <monster-action
        [action]="card">
      </monster-action>
    </ng-container>
    <ng-container *ngIf="!card.referenceFlg && card.elements">
      <monster-card
        [monster]="card">
      </monster-card>
    </ng-container>
</ng-template>