@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#player-board {
    .card-container {
        position: relative;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: white;
        border: rgb(216, 216, 216) 2px solid;
        border-radius: 11px;
        &.non-board {
            border: black 5px dashed;
        }
        .text {
            font-family: $beastformer;
            font-size: 49px;
            text-align: center;
            padding-top: 20px;
            line-height: 36px;
            .sub-text {
                font-family: $helvetica;
                font-size: 15px;
                padding-top: 11px;
                line-height: unset;
            }
        }
        .icon {
            position: relative;
            top: 20%;
            left: 36%;
            &.hand {
                top: 11%;
                left: 23%;
            }
            img {
                max-height: 100px;
            }
        }
    }
}