<div id="display-all">
  <div class="container">
    <div class="row">
      <div *ngFor="let monster of monsters" class="col-4">
        <div class="row">
          <div class="col-8">
            <monster-card
              *ngIf="isShowMonster(monster)"
              [monster]="monster">
            </monster-card>
            <div *ngFor="let action of monster.actions">
              <div *ngIf="action.isSelected">
                <monster-action
                  [monster]="monster"
                  [action]="action">
                </monster-action>
              </div>
            </div>
            <div *ngFor="let buff of monster.buffs">
              <div *ngIf="buff.isSelected">
                <monster-buff
                  [monster]="monster"
                  [buff]="buff">
                </monster-buff>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div *ngFor="let action of monster.actions" class="hover-card-icon-container col-12">
              <div 
                (mouseover)="action.isSelected = true" 
                (mouseout)="action.isSelected = false" 
                class="hover-card-icon">
              </div>
            </div>
            <div *ngFor="let buff of monster.buffs" class="hover-card-icon-container col-12">
              <div 
                (mouseover)="buff.isSelected = true" 
                (mouseout)="buff.isSelected = false" 
                class="hover-card-icon">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>