<div id="display-all">
  <div class="container">
    <div class="row">
      <div *ngFor="let monster of monsters" class="col-4">
        <div class="row">
          <div class="col-8">
            <monster-card
              [hidden]="!isShowMonster(monster)"
              [monster]="monster">
            </monster-card>
            <div *ngFor="let action of monster.actions">
              <div [hidden]="!action.isHovered">
                <monster-action
                  [monster]="monster"
                  [action]="action">
                </monster-action>
              </div>
            </div>
            <div *ngFor="let buff of monster.buffs">
              <div [hidden]="!buff.isHovered">
                <monster-buff
                  [monster]="monster"
                  [buff]="buff">
                </monster-buff>
              </div>
            </div>
          </div>
          <div class="col-4 p-0">
            <div *ngFor="let action of monster.actions" class="hover-card-icon-container col-12">
              <div 
                (mouseover)="action.isHovered = true" 
                (mouseout)="action.isHovered = false"
                class="hover-card-icon"
                [ngClass]="{'highlight' : action.isHighlighted}">
                <div class="icon">A</div>
              </div>
            </div>
            <div *ngFor="let buff of monster.buffs" class="hover-card-icon-container col-12">
              <div 
                (mouseover)="buff.isHovered = true" 
                (mouseout)="buff.isHovered = false" 
                class="hover-card-icon">
                <span class="icon">B</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>