@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#display-all{
    .row {
        justify-content: space-between;
    }
    .hoverables {
        margin: 10px 14px 0px 0px;
        .hover-card-icon{
            max-height: 34px;
            padding: 0px 5px;
            width: 25px;
            background-color: #bbb;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px white solid;
            background-color: #bbb;
            &:first-child {
                border-radius: 0px 5px 0px 0px;
            }
            &:last-child {
                border-radius: 0px 0px 5px 0px;
            }
            &.highlight {
                background-color: #b4e7ff;
            }
            .icon{
                font-family: $beastformer;
                font-size: 21px;
            }
        }
        .hover-card-icon:hover{
            background-color: rgb(238, 238, 238);
            cursor: pointer;
        }
    }
}