<div id="action-board">
  <div class="card-container">
    <div class="actions-container">
      <div class="title">Standard Actions
        <img src="{{discard}}" class="no-draw">
      </div>
      <div class="line-container">
        <hr align="left" class="name-line left">
        <span class="dot"></span>
        <hr align="right" class="name-line right">
      </div>
      <table>
        <tr>
          <td>
            <img src="{{draw}}" class="draw">
            <img src="{{draw}}" class="draw">
            <img src="{{draw}}">
          </td>
          <td>
            <img src="{{counter}}">
          </td>
        </tr>
      </table>
    </div>
    <div class="actions-container">
      <div class="title">
        <div class="switch-heal">
          <img src="{{heal}}">/<img src="{{status}}">
        </div>
        Switch Actions
        <img src="{{discard}}" class="no-draw">
      </div>
      <div class="line-container">
        <hr align="left" class="name-line left">
        <span class="dot"></span>
        <hr align="right" class="name-line right">
      </div>
      <table>
        <tr>
          <td>
            <img src="{{switchLeft}}" class="switch">
            & (<img src="{{cube}}" class="cube">)
          </td>
          <td>
            <img src="{{switchRight}}" class="switch">
            & (<img src="{{cube}}" class="cube">)
          </td>
        </tr>
      </table>
    </div>
    <div class="actions-container">
      <div class="title">Monster Actions</div>
      <div class="line-container">
        <hr align="left" class="name-line left">
        <span class="dot"></span>
        <hr align="right" class="name-line right">
      </div>
      <table class="monster-actions">
        <tr>
          <td>1</td><td>2</td>
        </tr>
        <tr>
          <td>3</td><td>4</td>
        </tr>
      </table>
    </div>
  </div>
</div>