@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#action-board{
    .card-container{
        font-family: $header-font;
        position: relative;
        border: rgb(255, 210, 210) 2px solid;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: white;
        position: relative;
        .no-draw{
            max-height: 18px;
        }
        .switch-heal{
            font-size: 15px;
            display: flex;
            align-items: center;
            img {
                max-height: 15px;
            }
            :first-child {
                position: relative;
                div {
                    position: absolute;
                    top: 1px;
                    left: 4px;
                    color: white;
                    font-size: 12px;
                }
            }
        }
        .actions-container{
            background-color: #f3f3f3;
            border-radius: 6px;
            margin: 4px 3px 3px 3px;
            padding: 1px;
            // margin-top: 10px;
            .actions-container {
                margin: unset;
                padding: unset;
                border-radius: unset;
            }
            .title{
                font-size: 23px;
                text-align: center;
                margin: 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 5px;
                .discards {
                    padding-bottom: 1px;
                }
            }
            .line-container{
                padding-left: 5px;
                .name-line{
                    border: .04cm solid black;
                    width: 2.1cm;
                    display: inline-block;
                    margin: 0cm .2cm .1cm .2cm;
                }
                .dot{
                    height: 10px;
                    width: 10px;
                    background-color: black;
                    border-radius: 50%;
                    display: inline-block;
                }
            }
            table{
                width: 100%;
                border-radius: 6px;
                border: 2px solid black;
                border-collapse: separate;
                background-color: white;
                tr{
                    td{
                        text-align: center;
                        font-size: 16px;
                        width: 50%;
                        padding: 6px;
                        height: 38px;
                        background-color: #ebebeb;
                        box-shadow: $recessed;
                        img{
                            max-height: 26px;
                        }
                        .switch{
                            max-height: 26px;
                        }
                        .draw{
                            padding-right: 4px;
                        }
                        .cube {
                            max-height: 20px;
                        }
                    }
                }
                tr:nth-child(odd) {
                    td:nth-child(odd) {
                        background-color: aliceblue;
                    }
                    td:nth-child(even) {
                        background-color: #ffefd3;
                    }
                }
                tr:nth-child(even) {
                    td:nth-child(odd) {
                        background-color: #ffefd3;
                    }
                    td:nth-child(even) {
                        background-color: aliceblue;
                    }
                }
                &.monster-actions {
                    tr {
                        td {
                            font-size: 30px;
                        }
                    }
                    tr:nth-child(1) {
                        td:first-child {
                            border-radius: 4px 0px 0px 0px;
                        }
                        td:last-child {
                            border-radius: 0px 4px 0px 0px;
                        }
                    }
                    tr:nth-child(2) {
                        td:first-child {
                            border-radius: 0px 0px 0px 4px;
                        }
                        td:last-child {
                            border-radius: 0px 0px 4px 0px;
                        }
                    }
                }
            }
            &.maneuver-table{
                background-color: unset;
                display: flex;
                .maneuver {
                    padding: 11px 0px 0px 12px;
                    img {
                        max-height: 20px;
                    }
                }
                table{
                    font-family: $header-font;
                    position: relative;
                    top: -2px;
                    left: 8px;
                    width: 84%;
                    border-radius: 0px 0px 6px 6px;
                    tr{
                        td {
                            font-size: 22px;
                            width: 25%;
                            img {
                                max-height: 20px;
                            }
                        }
                        td:nth-child(even){
                            background-color: #8abcf9;
                        }
                        td:nth-child(odd){
                            background-color: #aae3ff;
                        }
                        td:first-child{
                            border-radius: 4px 0px 0px 4px !important;
                        }
                        td:last-child {
                            border-radius: 0px 4px 4px 0px !important;
                        }
                    }
                }
            }
        }
        .standard-table, .switch-table {
            table {
                tr{
                    td:nth-child(1){
                        border-radius: 4px 0px 0px 4px;
                    }
                    td:nth-child(2){
                        border-radius: 0px 4px 4px 0px;
                    }
                }
            }
        }
    }
}