<div id="action-board">
  <div class="card-container">
    <div class="actions-container switch-table">
      <div class="title">
        Switch Actions
        <div class="discards">
          <img src="{{discard}}" class="no-draw pr-1">
          <img src="{{discard}}" class="no-draw">
        </div>
      </div>
      <table>
        <tr>
          <td>
            <img src="{{switchLeft}}" class="switch">
          </td>
          <td>
            <img src="{{switchRight}}" class="switch">
          </td>
        </tr>
      </table>
    </div>
    <div class="actions-container">
      <div class="title">Monster Actions</div>
      <table class="monster-actions">
        <tr>
          <td>1</td><td>2</td>
        </tr>
        <tr>
          <td>3</td><td>4</td>
        </tr>
      </table>
    </div>
    <div class="actions-container maneuver-table">
      <div class="title">
        Maneuvers
        <img src="{{manuever}}" class="no-draw">
      </div>
      <table class="monster-actions">
        <tr>
          <td>
            <span>
              +3<img src="{{defense}}" class="draw">
            </span>
          </td>
          <td>
            <img src="{{flip}}" class="draw">
            <img src="{{flip}}" class="draw">
          </td>
          <td>
            <span>
              +3<img src="{{speed}}" class="draw">
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="actions-container standard-table">
      <div class="title">Standard Actions</div>
      <table>
        <tr>
          <td>
            <img src="{{draw}}" class="draw">
            <img src="{{draw}}" class="draw">
            <img src="{{draw}}">
          </td>
          <td>
            <img src="{{manuever}}" class="draw">
            <img src="{{draw}}">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>