<div id="action-board">
  <div class="card-container">
    <div class="actions-container switch-table">
      <div class="title">
        Maneuvers
        <div class="discards">
          <img src="{{getIcon('discard')}}" class="no-draw pr-1">
          <img src="{{getIcon('discard')}}" class="no-draw">
        </div>
      </div>
      <table>
        <tr>
          <td>
            <img src="{{getIcon('switch-left')}}" class="switch">
          </td>
          <td>
            <img src="{{getIcon('switch-right')}}" class="switch">
          </td>
          <td>
            <img src="{{getIcon('counter')}}" class="switch">
          </td>
        </tr>
      </table>
    </div>
    <div class="actions-container">
      <div class="actions-container">
        <div class="title">Monster Actions</div>
        <table class="monster-actions">
          <tr>
            <td>1</td><td>2</td>
          </tr>
          <tr>
            <td>3</td><td>4</td>
          </tr>
        </table>
      </div>
      <div class="actions-container maneuver-table">
        <table class="monster-actions">
          <tr>
            <td>
              <span>
                +X<img src="{{getIcon('attack')}}">
              </span>
            </td>
            <td>
              <span>
                +X<img src="{{getIcon('speed')}}">
              </span>
            </td>
            <td>
              <span>
                +X<img src="{{getIcon('defense')}}">
              </span>
            </td>
          </tr>
        </table>
        <div class="maneuver">
          <img src="{{getIcon('green-cube')}}" class="icon">
        </div>
      </div>
    </div>
    <div class="actions-container standard-table">
      <div class="title">Standard Actions</div>
      <table>
        <tr>
          <td>
            <img src="{{getIcon('draw')}}" class="icon">
            <img src="{{getIcon('draw')}}" class="icon">
            <img src="{{getIcon('heart')}}">
          </td>
          <td>
            <img src="{{getIcon('draw')}}" class="icon">
            <img src="{{getIcon('question')}}" class="icon q">
            <img src="{{getIcon('question')}}" class="icon q">
            <img src="{{getIcon('question')}}" class="q">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>