@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#action-board{
    .card-container{
        position: relative;
        border: rgb(216, 216, 216) 2px solid;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: white;
        .no-draw{
            position: absolute;
            max-height: 23px;
            right: 11px;
        }
        .switch-heal{
            position: absolute;
            left: 6px;
            top: 109px;
            font-size: 15px;
            img {
                max-height: 15px;
            }
        }
        .actions-container{
            padding: 0px 10px 0px 10px;
            margin-top: 10px;
            .title{
                font-size: 23px;
                text-align: center;
                font-family: $beastformer;
                margin: 0px;
            }
            .line-container{
                padding-left: 5px;
                .name-line{
                    border: .04cm solid black;
                    width: 2.1cm;
                    display: inline-block;
                    margin: 0cm .2cm .1cm .2cm;
                }
                .dot{
                    height: 10px;
                    width: 10px;
                    background-color: black;
                    border-radius: 50%;
                    display: inline-block;
                }
            }
            table, th, td {
                border: 1px solid black;
            }
            table{
                width: 100%;
                tr{
                    td{
                        text-align: center;
                        font-size: 16px;
                        font-family: $helvetica;
                        width: 50%;
                        padding: 6px;
                        height: 38px;
                        img{
                            max-height: 35px;
                        }
                        .switch{
                            max-height: 30px;
                        }
                        .draw{
                            padding-right: 4px;
                        }
                        .cube {
                            max-height: 16px;
                        }
                    }
                }
                &.monster-actions {
                    tr {
                        td {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}