<div id="stat-cube-board">
  <div class="card-container">
    <div class="table-container">
      <div class="title">Stat Cube Board</div>
      <div class="line-container">
        <hr align="left" class="name-line left">
        <span class="dot"></span>
        <hr align="right" class="name-line right">
      </div>
      <table class="stat-cube-table">
        <tr>
          <td>
            -<img src="{{attack}}">
            <div>(4 max)</div>
          </td>
          <td>
            +<img src="{{attack}}">
            <div>(4 max)</div>
          </td>
        </tr>
        <tr>
          <td>
            -<img src="{{speed}}">
            <div>(4 max)</div>
          </td>
          <td>
            +<img src="{{speed}}">
            <div>(4 max)</div>
          </td>
        </tr>
        <tr>
          <td>
            -<img src="{{defense}}">
            <div>(4 max)</div>
          </td>
          <td>
            +<img src="{{defense}}">
            <div>(4 max)</div>
          </td>
        </tr>
      </table>
      <div class="title">Used Maneuver Cubes</div>
      <div class="line-container">
        <hr align="left" class="name-line left">
        <span class="dot"></span>
        <hr align="right" class="name-line right">
      </div>
      <div class="maneuver-container">
        <table>
          <tr>
            <td>
              1
            </td>
            <td>
              2
            </td>
            <td>
              3
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>