<div id="stat-cube-board">
  <div class="card-container">
    <div class="table-container">
      <table class="stat-cube-table">
        <tr>
          <td>
            +<img src="{{hollow}}">
            <div>4 MAX</div>
          </td>
          <td>using</td>
        </tr>
        <tr>
          <td>
            +<img src="{{speed}}">
            <div>4 MAX</div>
          </td>
          <td>using</td>
        </tr>
        <tr>
          <td>
            +<img src="{{defense}}">
            <div>3 MAX</div>
          </td>
          <td>using</td>
        </tr>
      </table>
    </div>
  </div>
</div>