@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#stat-cube-board{
    .card-container{
        position: relative;
        border: rgb(216, 216, 216) 2px solid;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: white;
        .title{
            line-height: unset;
            padding-top: 4px;
            font-size: 20px;
            text-align: center;
            margin: 0px;
            text-decoration: unset;
            font-family: $header-font;
        }
        .table-container{
            padding: 0px 10px 10px 10px;
            display: flex;
            .title{
                padding-top: 4px;
                font-size: 20px;
                text-align: center;
                font-family: $header-font;
                margin: 0px;
                img{
                    max-height: 20px;
                }
            }
            .line-container{
                padding-left: 5px;
                .name-line{
                    border: .04cm solid black;
                    width: 2.1cm;
                    display: inline-block;
                    margin: 0cm .2cm .1cm .2cm;
                }
                .dot{
                    height: 10px;
                    width: 10px;
                    background-color: black;
                    border-radius: 50%;
                    display: inline-block;
                }
            }
            table, th, td {
                border: 2px solid black;
            }
            .stat-cube-table{
                border-collapse: separate;
                border-radius: 6px;
                width: 100%;
                tr{
                    height: 88px;
                    td:nth-child(1){
                        background-color: #d6ffd6;
                    }
                    td{
                        border: unset;
                        text-align: center;
                        font-size: 20px;
                        font-family: $header-font;
                        width: 50%;
                        box-shadow: $recessed;
                        img{
                            max-height: 30px;
                            padding-left: 5px;
                        }
                        div{
                            font-size: 15px;
                            text-decoration: underline;
                        }
                    }
                }
                tr:first-child {
                    td {
                        border-radius: 4px 4px 0px 0px;
                    }
                }
                tr:last-child {
                    td {
                        border-radius: 0px 0px 4px 4px;
                    }
                }
                &.totals{
                    width: 50%;
                    tr{
                        height: 66px;
                        td{
                            background-color: unset;
                        }
                    }
                }
            }
        }
    }
}