<div id="stat-cube-board">
  <div class="card-container">
    <div class="title">
      Stat Board
    </div>
    <div class="line-container">
      <hr align="left" class="name-line left">
      <span class="dot"></span>
      <hr align="right" class="name-line right">
    </div>
    <div class="table-container">
      <table class="stat-cube-table">
        <tr>
          <td>
            +<img src="{{hollow}}">
            <div>4 MAX</div>
          </td>
          <td>using</td>
        </tr>
        <tr>
          <td>
            +<img src="{{speed}}">
            <div>4 MAX</div>
          </td>
          <td>using</td>
        </tr>
        <tr>
          <td>
            +<img src="{{defense}}">
            <div>3 MAX</div>
          </td>
          <td>using</td>
        </tr>
      </table>
      <div class="pl-1"></div>
      <table class="stat-cube-table totals">
        <tr>
          <td><img src="{{attack}}" class="op-25"></td>
        </tr>
        <tr>
          <td><img src="{{hollow}}" class="op-25"></td>
        </tr>
        <tr>
          <td><img src="{{speed}}" class="op-25"></td>
        </tr>
        <tr>
          <td><img src="{{defense}}" class="op-25"></td>
        </tr>
      </table>
    </div>
  </div>
</div>