<div id="print-monster">
  <div class="container">
    <div class="header">
      <h2 class="name" [routerLink]="['/monster', monster.monsterName]">{{monster.monsterName}}</h2>
      <span>
        <mat-checkbox
          [(ngModel)]="isToggleAll"
          (change)="toggleAll()">
        </mat-checkbox> Select All?
      </span>
    </div>
    <span class="all-cards">
      <div class="overlay">
        <div class="card" (click)="monster.isSelected = !monster.isSelected">
          <div class="wrapper" [ngClass]="{unselected: !monster.isSelected}">
            <monster-card
              [monster]="monster">
            </monster-card>
          </div>
        </div>
      </div>
      <div class="overlay">
        <div class="card" (click)="monster.referenceFlg = !monster.referenceFlg">
          <div class="wrapper" [ngClass]="{unselected: !monster.referenceFlg}">
            <monster-reference
              [monster]="monster">
            </monster-reference>
          </div>
        </div>
      </div>
      <div class="overlay" *ngFor="let action of monster.actions">
        <div class="card" (click)="action.isSelected = !action.isSelected">
          <div class="wrapper" [ngClass]="{unselected: !action.isSelected}">
            <monster-action
              [action]="action">
            </monster-action>
          </div>
        </div>
      </div>
      <div class="overlay" *ngFor="let buff of monster.buffs">
        <div class="card" (click)="buff.isSelected = !buff.isSelected">
          <div class="wrapper" [ngClass]="{unselected: !buff.isSelected}">
            <monster-buff
              [buff]="buff">
            </monster-buff>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>