<div id="print-monster">
  <div class="container">
    <span class="all-cards">
      <span [ngClass]="{unselected: !monster.isSelected}" (click)="monster.isSelected = !monster.isSelected">
        <monster-card
          [monster]="monster">
        </monster-card>
      </span>
      <span *ngFor="let action of monster.actions">
        <div [ngClass]="{unselected: !action.isSelected}" (click)="action.isSelected = !action.isSelected">
          <monster-action
            [monster]="monster"
            [action]="action">
          </monster-action>
        </div>
      </span>
      <span *ngFor="let buff of monster.buffs">
        <div [ngClass]="{unselected: !buff.isSelected}" (click)="buff.isSelected = !buff.isSelected">
          <monster-buff
            [monster]="monster"
            [buff]="buff">
          </monster-buff>
        </div>
      </span>
    </span>
  </div>
</div>