@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#print-monster{
    .container{
        max-height: 7cm;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .name{
                cursor: pointer;
                color: $link;
            }
        }
        .all-cards{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: flex-start;
            transform: scale(0.45);
            transform-origin: top left;
            .overlay{
                cursor: pointer;
                .card{
                    z-index: 99;
                    transition: all .1s ease-in-out;
                    .wrapper{
                        &.unselected{
                            opacity: 20%;
                        }
                    }
                }
                .card:hover{
                    transform: scale(2.5);
                    z-index: 100;
                }
            }
        }
    }


}