@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

@page {
    size: auto;
}

#pnp{
    .all-cards{
        display: grid;
        grid-template-columns: repeat(4, $card-width);
    }
    .all-auras{
        display: grid;
        grid-template-columns: repeat(3, $card-height);
    }
    .break{
        padding-bottom: 73px; // only works for chrome
        // padding-bottom: 84px;
    }
    .extra-slot {
        height: 332px;
        width: 238px;
    }
}