<div id="pnp">
  <div class="all-cards">
    <span *ngFor="let card of allCards; index as i">
      <span *ngIf="card.isMonster && !card.referenceFlg">
        <monster-card
          [monster]="card">
        </monster-card>
      </span>
      <span *ngIf="card.referenceFlg">
        <monster-reference
          [monster]="card">
        </monster-reference>
      </span>
      <span *ngIf="card.isAction">
        <monster-action
          [action]="card">
        </monster-action>
      </span>
      <span *ngIf="card.isBuff">
        <monster-buff
          [buff]="card">
        </monster-buff>
      </span>
      <span *ngIf="card.isPlayerBoard">
        <player-board
          [text]="card.text">
        </player-board>
      </span>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <action-board></action-board>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <action-board></action-board>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <stat-cube-board></stat-cube-board>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <stat-cube-board></stat-cube-board>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <reference-card></reference-card>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <reference-card></reference-card>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <reference-card></reference-card>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <reference-card></reference-card>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
    <span *ngIf="allCards.length && extraFlg">
      <acorn-board></acorn-board>
      <div [ngClass]="{'break' : isPageBreak()}"></div>
    </span>
  </div>
</div>