@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

@page {
    size: auto;
}

#pnp{
    .all-cards{
        display: grid;
        grid-template-columns: repeat(4, $card-width);
    }
    .break{
        // padding-bottom: 71px; // only works for chrome
        padding-bottom: 84px;
    }
}