@font-face { 
    font-family: 'Beastformer'; 
    src: url('~/assets/fonts/Beastformer.ttf') format("ttf")
} 
@font-face { 
    font-family: 'Rowdies'; 
    src: url('~/assets/fonts/Rowdies.ttf') format("ttf")
} 
@font-face { 
    font-family: 'Helvetica'; 
    src: url('~/assets/fonts/Helvetica.ttc') format("ttc")
}

$red: #d0021b;
$blue: #4a90e2;
$purple: #bd10e0;;
$yellow: #e6d616;
$brown: #8b572a;
$green: #549d1a;

.term{
    font-style: italic;
    font-size: 11px;
    display: inline-block;
    line-height: 14px;
    padding-top: 5px;
}

.term-img{
    max-height: 15px;
}