@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#acorn-board{
    .card-container {
        position: relative;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: white;
        border: rgb(216, 216, 216) 2px solid;
        border-radius: 11px;
        padding: 5px;
        .title {
            font-family: $header-font;
            text-align: center;
            font-size: 30px;
            padding: 10px 0px;
            img {
                padding-right: 0px;
            }
        }
        .acorn-section-container {
            position: relative;
            height: 70px;
            border: 1px solid black;
            margin-bottom: 20px;
            border: #d8d8d8 2px solid;
            border-radius: 11px;
            .acorn-section {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: $header-font;
                text-align: center;
                font-size: 30px;
                padding-bottom: 2px;
                width: fit-content;
            }
        }
        img {
            max-height: 25px;
            padding-right: 5px;
        }
    }
}