<div id="buff-card">
  <div class="card-container">
    <img class="buff-background" src="{{getBuffImagePath()}}">
    <div class="timing-container">
      <span class="numeral">{{getTimingRomanNumeral()}}</span>
      <span class="name">{{buff.timing}}</span>
    </div>
    <div class="name">{{buff.buffName}}</div>
    <div class="line-container">
      <hr align="left" class="name-line left">
      <span class="dot"></span>
      <hr align="right" class="name-line right">
    </div>
    <div class="text-container">
      <div [innerHTML]="getAbilityText(buff.buffText, false)" class="buff-text"></div>
    </div>
    <div *ngIf="buff.flipEventFlg" class="text-container flip">
      <div class="exclamation-mark">
        <img src="{{imageService.getImg('flip-white')}}">
      </div>
      <div [innerHTML]="getAbilityText(buff.flipEventText, true)" class="flip-text"></div>
    </div>
    <div class="bottom-container">
      <span class="monster-name">{{buff.monsterName}}</span>
    </div>
  </div>
</div>