<div id="buff-card">
  <div class="card-container {{getBackgroundImageCss()}}">
    <div class="name">{{buff.buffName}}</div>
    <div class="text-container ability">
      <div *ngIf="buff.auraDuration" class="team-aura-container">
        <div>{{buff.auraDuration}}</div>
        <img src="{{imageService.getImg('aura')}}">
      </div>
      <div [innerHTML]="getAbilityText(buff.buffText, false)" class="buff-text"></div>
    </div>
    <div class="bottom-container">
      <img src="{{getMonsterImagePath()}}">
    </div>
  </div>
</div>