@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#buff-card{
    .card-container{
        position: relative;
        border: rgb(216, 216, 216) 2px solid;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: white;
        z-index: 1;
        .buff-background{
            position: absolute;
            max-height: 172px;
            top: 82px;
            left: 32px;
            z-index: -1;
        }
        .timing-container{
            position: relative;
            left: 7px;
            padding-top: 9px;
            min-height: 38px;
            .numeral{
                font-family: $beastformer;
                font-size: 38px;
                letter-spacing: 0.02em;
            }
            .name{
                position: relative;
                font-family: $beastformer;
                font-size: 13px;
                letter-spacing: 0.02em;
                bottom: 8px;
            }
        }
        .name{
            font-family: $beastformer;
            font-size: 28px;
            text-align: center;
            margin-top: 5px;
            letter-spacing: 0.02em;
            min-height: 20px;
        }
        .text-container{
            padding: 0px 10px;

            &.flip{
                display: flex;
                position: absolute;
                bottom: 25px;
                width: 100%;
            }
            .exclamation-mark{
                border: 2px black solid;
                border-radius: 6px 0px 0px 6px;
                text-align: center;
                font-family: $beastformer;
                font-size: 40px;
                max-width: 32px;
                min-width: 32px;
                background-color: black;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-height: 23px;
                }
            }
            .flip-text{
                border-style: solid;
                border-width: 2px 2px 2px 0px;
                border-color: black;
                border-radius: 0px 6px 6px 0px;
                text-align: left;
                font-size: 12px;
                display: inline-block;
                padding: 7px;
                background-color: #9c9c9c0a;
                line-height: 15px;
                width: 85%;
                letter-spacing: -0.02em;
                div {
                    display: inline-block;
                }
            }
            .buff-text{
                font-family: $helvetica;
                font-size: 14px;
                letter-spacing: 0.02em;
                text-align: center;
                display: inline-block;
                line-height: 16px;
                width: 100%;
                div {
                    display: inline-block;
                }
            }
        }
        .bottom-container{
            position: absolute;
            bottom: 2px;
            right: 6px;
            .monster-name{
                font-family: "Beastformer";
                font-size: 18px;
                letter-spacing: 0.02em;
            }
        }
    }

    tbody tr td:first-child{
        border-radius: 0.6em 0 0 0.6em;
    }
    tbody td:nth-child(2) {
        border-radius: 0 0.6em 0.6em 0;
    }
}