@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#action-card{
    .card-container{
        position: relative;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: white;
        border-width: 4px;
        border-style: solid;
        &.fire{
            border-color: $red;
        }
        &.water{
            border-color: $blue;
        }
        &.leaf{
            border-color: $green;
        }
        &.electric{
            border-color: $yellow;
        }
        &.rock{
            border-color: $brown;
        }
        &.death{
            border-color: $purple;
        }
        .ability-container{
            padding-top: 7px;
            .ability-name-container{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;
                margin: auto;
                width: 90%;
                height: 11%;
                border-radius: 10px 10px 0px 0px;
                margin-top: 3px;
                padding-top: 3px;
                z-index: 1;
                position: relative;
                min-height: 29px;
                .ability-name{
                    margin: auto;
                    font-family: $beastformer;
                    color: white;
                    font-size: 22px;
                    padding-bottom: 6px;
                    letter-spacing: 0.02em;
                    &.name-offset{
                        position: relative;
                        top: 1px;
                    }
                }
            }
            .ability-text-container{
                text-align: left !important;
                position: relative;
                top: -13px;
                display: flex;
                background-color: hsl(0, 0%, 94%);
                border: 2px black solid;
                margin: auto;
                width: 90%;
                height:auto;
                border-radius: 0px 0px 10px 10px;
                z-index:1;
                //box-shadow: 0px 3px 18px -1px black;
                .ability-text{
                    font-family: $helvetica;
                    font-size: 12px;
                    padding: 7px;
                    line-height: 13px;
                    div {
                        display: inline-block;
                    }
                }
            }
        }
        .stats-container{
            position: relative;
            margin: auto;
            display: grid;
            justify-content: space-evenly;
            align-content: center;
            grid-template-columns: 33.333% 33.333% 33.333%;
            height: 45px;
            border-radius: 10px;
            background-color: white;
            border: 2px black solid;
            z-index: 3 ;
            top: -9px;
            width: 94%;
            padding-top: 4px;
            margin-top: 5px;
            padding-bottom: 4px;
            .stat-container{
                display: flex;
                align-items: center;
                justify-content: center;
                .stat-value{
                    font-family: $beastformer;
                    font-size: 40px;
                    min-width: 25px;
                    text-align: center;
                    &.unity{
                        color: white;
                    }
                }
                .stat-icon{
                    max-height: 32px;
                }
            }
        }
        .modifier-container {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ebebeb;
            padding: 2px;
            border-radius: 6px;
            border: 2px solid black;
            font-family: $beastformer;
            font-size: 25px;
            width: 145px;
            margin: auto;
            left: 43px;
            bottom: 61px;
            img {
                max-height: 20px;
            }
            .modifier-value {
                margin-left: 2px;
                color: black;
            }
            .vs-container {
                color: white;
                background: black;
                padding: 2px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                div {
                    color: white;
                    padding: 0px 2px;
                }
            }
            .modifier-elements {
                position: relative;
                display: flex;
                img:first-child {
                    padding-right: 2px;
                }
                img {
                    padding: 0px 2px;
                }
            }
        }
        .cards-container{
            display: flex;
            justify-content: center;
            position: absolute;
            padding: 6px;
            width: 100%;
            bottom: 0;
            min-height: 57px;
            &.fire{
                background: $red;
            }
            &.water{
                background: $blue;
            }
            &.leaf{
                background: $green;
            }
            &.electric{
                background: $yellow;
            }
            &.rock{
                background: $brown;
            }
            &.death{
                background: $purple;
            }
            .card-icon{
                max-height: 30px;
                margin: 0px 3px 0px 3px;
                box-shadow: 0px 0px 11px -1px white;
                z-index: 10;
            }
        }
        .monster-name-container{
            position: absolute;
            bottom: -1px;
            right: 4px;
        }
        .monster-name{
            font-family: $beastformer;
            font-size: 18px;
            letter-spacing: 0.02em;
            color: white;
        }
        .monster-number-container {
            position: absolute;
            bottom: -1px;
            left: 4px;
            .monster-name {
                font-size: 38px;
            }
        }
    }
}

.term{
    font-style: italic;
    font-size: 11px;
}