<div id="action-card">
  <div class="card-container {{action.element.toLowerCase()}}">
    <div class="ability-container">
      <div class="ability-name-container">
        <span class="ability-name" [ngClass]="{'name-offset':!action.abilityText}">{{action.abilityName}}</span>
      </div>
      <div class="stats-container">
        <span *ngIf="action.attack" class="stat-container">
          <span class="stat-value" [ngClass]="{'unity':action.unityFlg}">{{action.attack}}</span>
          <img class="stat-icon" src="{{getImagePath('attack')}}">
        </span>
        <span *ngIf="!action.attack" class="stat-container">
          <span *ngIf="action.auraDuration" class="stat-container">
            <span class="stat-value">{{action.auraDuration}}</span>
            <img class="stat-icon" src="{{getImagePath('aura')}}">
          </span>
          <span *ngIf="action.statusFlg" class="stat-container">
            <img class="stat-icon" src="{{getImagePath('status')}}">
          </span>
        </span>
        <span class="stat-container">
          <img *ngIf="action.element" class="stat-icon" src="{{getElementImageColorPath()}}">
        </span>
        <span class="stat-container">
          <span *ngIf="action.speed" class="stat-container">
            <span class="stat-value" [ngClass]="{'unity':action.unityFlg}">{{action.speed}}</span>
            <img class="stat-icon" src="{{getImagePath('speed')}}">
          </span>
        </span>
      </div>
      <div *ngIf="action.modifier" class="modifier-container">
        <div class="modifier-value">
          +{{action.modifier}}<img src="{{getImagePath('attack')}}">
        </div>
        <div class="vs-container">
          <div>VS</div>
        </div>
        <div class="modifier-elements">
          <ng-container *ngFor="let element of ELEMENTS; index as i">
            <img *ngIf="isAdvantage(i)" src="{{getElementImageColorPath(element)}}">
          </ng-container>
        </div>
      </div>
      <div *ngIf="action.abilityText" class="ability-text-container">
        <div [innerHTML]="getAbilityText()" class="ability-text"></div>
      </div>
      <div class="cards-container {{action.element.toLowerCase()}}">
        <span *ngFor="let imageIcon of getCardIcons()">
          <img class="card-icon" src="{{getImagePathFromImageCode(imageIcon)}}">
        </span>
      </div>
      <div class="monster-number-container">
        <span class="monster-name">{{action.number}}</span>
      </div>
      <div class="monster-name-container">
        <span class="monster-name">{{action.monsterName}}</span>
      </div>
    </div>
  </div>
</div>