<div id="acorn">
  <div class="card-container">
    <div class="acorn-container">
      <div class="circle">
        <div class="acorn">
          <img src="{{acorn}}">
        </div>
      </div>
      <div class="circle">
        <div class="acorn">
          <img src="{{acorn}}">
        </div>
      </div>
      <div class="circle">
        <div class="acorn">
          <img src="{{acorn}}">
        </div>
      </div>
      <div class="circle">
        <div class="acorn">
          <img src="{{acorn}}">
        </div>
      </div>
    </div>
    <div class="acorn-container">
      <div class="circle">
        <div>
          +3<img src="{{defense}}">
        </div>
      </div>
      <div class="circle">
        <div>
          +3<img src="{{speed}}">
        </div>
      </div>
      <div class="circle">
        <div>
          +2<img src="{{attack}}">
        </div>
      </div>
      <div class="circle">
        <div class="pierce">
          Pierce 4<img src="{{defense}}">
        </div>
      </div>
    </div>
  </div>
</div>