<div id="monster-form">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="col-12 form-element">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="monster.monsterName">
          </mat-form-field>
        </div>
        <div class="col-12 form-element">
          <mat-form-field appearance="fill">
            <mat-label>Ability</mat-label>
            <input matInput [(ngModel)]="monster.abilityName">
          </mat-form-field>
        </div>
        <div class="col-12 form-element">
          <mat-form-field appearance="fill">
            <mat-label>Elements</mat-label>
            <mat-select [formControl]="elements" multiple (selectionChange)="elementChanged($event)">
              <mat-option 
                *ngFor="let element of elementList" 
                [value]="element">
                {{element}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 form-element">
          <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="monster.roleLk">
              <mat-option 
                *ngFor="let role of roleList" 
                [value]="role">
                {{role}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 form-element">
          <mat-form-field class="textarea" appearance="fill">
            <mat-label>HP</mat-label>
            <input matInput
              type="number"
              #input
              maxlength="2"
              [(ngModel)]="monster.hp">
          </mat-form-field>
        </div>
        <div class="col-12 form-element">
          <mat-form-field class="textarea" appearance="fill">
            <mat-label>Ability Text</mat-label>
            <textarea matInput 
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="monster.abilityText">
            </textarea>
          </mat-form-field>
          <!-- EXPANSION PANEL -->
          <div class="expansion-container">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Icon Codes
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="icon-grid">
                  <div *ngFor="let item of IMG_MAP | keyvalue">
                    <img src="{{item.value}}" class="term-img"> - {{item.key}}
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Terms
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let item of TERM_MAP | keyvalue">
                  <strong>{{item.key}}</strong> - {{item.value}}
                  <br><br>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card-container">
          <monster-card
            [monster]="monster">
          </monster-card>
        </div>
      </div>
    </div>
  </div>
</div>