<div id="filter-all">
  <div *ngIf="isCollapsed" class="container">
    <div (click)="toggleCollapse()" class="header-container">
      <span class="title">Filters</span>
      <span>
        <mat-icon (click)="toggleCollapse()">add_box</mat-icon>
      </span>
    </div>
  </div>
  <div *ngIf="!isCollapsed" class="container">
    <div class="header-container">
      <span class="title">Monster Filters ({{numOfMonsters}})</span>
      <span>
        <mat-icon *ngIf="!isCollapsed" (click)="toggleCollapse()">indeterminate_check_box</mat-icon>
      </span>
    </div>
    <div class="filters-wrapper">
      <dropdown
        [label]="'Roles'"
        [model]="form"
        [multi]="true"
        [property]="'roles'"
        [options]="roleList"
        (selectionChange)="applyFilters()">
      </dropdown>
      <dropdown
        [label]="'Elements'"
        [model]="form"
        [property]="'elements'"
        [options]="elementList"
        [multi]="true"
        (selectionChange)="applyFilters()">
      </dropdown>
      <min-max
        [label]="'HP'"
        [model]="form"
        [property]="'hp'"
        [min]="1"
        [max]="20"
        (selectionChange)="applyFilters()">
      </min-max>
      <min-max
        [label]="'Complexity'"
        [model]="form"
        [property]="'complexity'"
        [min]="1"
        [max]="3"
        (selectionChange)="applyFilters()">
      </min-max>
    </div>
    <div class="title">Action Filters ({{numOfActions}})</div>
    <div class="filters-wrapper">
      <min-max
        [label]="'Attack'"
        [model]="form"
        [property]="'attack'"
        [min]="0"
        [max]="10"
        (selectionChange)="applyFilters()">
      </min-max>
      <min-max
        [label]="'Speed'"
        [model]="form"
        [property]="'speed'"
        [min]="0"
        [max]="10"
        (selectionChange)="applyFilters()">
      </min-max>
      <min-max
        [label]="'Buff'"
        [model]="form"
        [property]="'buff'"
        [min]="0"
        [max]="5"
        (selectionChange)="applyFilters()">
      </min-max>
      <min-max
        [label]="'Discard'"
        [model]="form"
        [property]="'discard'"
        [min]="0"
        [max]="5"
        (selectionChange)="applyFilters()">
      </min-max>
      <min-max
        [label]="'Draw'"
        [model]="form"
        [property]="'draw'"
        [min]="0"
        [max]="5"
        (selectionChange)="applyFilters()">
      </min-max>
      <min-max
        [label]="'Aura Duration'"
        [model]="form"
        [property]="'aura'"
        [min]="1"
        [max]="10"
        (selectionChange)="applyFilters()">
      </min-max>
      <dropdown
        [label]="'Elements'"
        [model]="form"
        [property]="'attackElements'"
        [options]="elementList"
        [multi]="true"
        (selectionChange)="applyFilters()">
      </dropdown>
      <mat-checkbox 
        [(ngModel)]="form.statusFlg"
        (change)="applyFilters()">Status?
      </mat-checkbox>
    </div>
    <div class="title">Buff Filters ({{numOfBuffs}})</div>
    <div class="filters-wrapper">
      <dropdown
        [label]="'Timing'"
        [model]="form"
        [property]="'timings'"
        [options]="timingList"
        [multi]="true"
        (selectionChange)="applyFilters()">
      </dropdown>
    </div>
    <button class="clear-button" mat-stroked-button (click)="clearFilters()">Reset Filters</button>
  </div>
</div>

