@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#filter-all{
    .container{
        border: 3px solid #e0e0e0;
        border-radius: 3px;
        display: flow-root;
        margin-bottom: 1rem;
        .header-container{
            padding: 10px 0px;
            mat-icon{
                float: right;
                cursor: pointer;
            }
        }
        .title{
           font-size: 20px;
           padding: 10px 0px;
        }
        .filters-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: baseline;
            min-max{
                display: contents;
            }
        }
        .clear-button{
            float: right;
            margin: 0px 0px 17px;
        }
    }
}