<!-- <div *ngIf="!isTextArea"> -->
  <mat-form-field appearance="fill">
    <mat-label>{{label}}</mat-label>
    <input matInput [(ngModel)]="model" (selectionChange)="selectionChanged($event)">
  </mat-form-field>
<!-- </div>
<div *ngIf="isTextArea">
  <mat-form-field appearance="fill">
    <mat-label>{{label}}</mat-label>
    <textarea matInput 
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="minRows"
      cdkAutosizeMaxRows="maxRows"
      [(ngModel)]="model"
      (selectionChange)="selectionChanged($event)">
    </textarea>
  </mat-form-field>
</div> -->
