@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#monster-card{
    .card-container{
        position: relative;
        border: rgb(216, 216, 216) 2px solid;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: #ffffff;
        .elements-container{
            display: grid;
            grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
            justify-items: center;
            min-height: 29px;
            div{
                padding-bottom: 5px;
            }
            .effectiveness{
                font-family: $beastformer;
                .effective{
                    max-height: 19px;
                    top: 2px;
                    position: relative;
                }
                .value{
                    font-size: 22px;
                    top: 5px;
                    position: relative;
                    left: -1px;
                }
                .shield{
                    max-height: 21px;
                }
                .switch{
                    max-height: 15px;
                    position: relative;
                    top: -29px;
                }
            }
            .elements{
                display: grid;
                grid-template-rows: auto;
                justify-items: center;
                .element-icon{
                    max-height: 30px;
                }
            }
        }
        .name-container{
            display: grid;
            grid-template-columns: 70% 30%;
            div {
                padding: 1px 8px;
            }
            .name{
                font-family: $beastformer;
                font-size: 26px;
                text-align: left;
                margin-top: 5px;
                letter-spacing: 0.02em;
                min-height: 20px;
                text-align: center;
            }
            .elements{
                margin-top: 3px;
                display: flex;
                justify-content: center;
                img {
                    max-height: 23px;
                }
                img:nth-child(n+2) {
                    padding-left: 3px;
                }
            }
        }
        .ability-container{
            .ability-name-container{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;
                margin: auto;
                width: 89.7%;
                height: 11%;
                border-radius: 10px 10px 0px 0px;
                padding: 2px 0px 2px;
                .ability-name{
                    margin: auto;
                    font-family: $beastformer;
                    color: white;
                    font-size: 22px;
                    padding-bottom: 6px;
                    letter-spacing: 0.02em;
                    min-height: 26px;
                    z-index: 10;
                }
            }
            .ability-text-container{
                text-align: left !important;
                position: relative;
                top: -8px;
                display: flex;
                background-color: hsl(0, 0%, 94%);
                border: 2px black solid;
                margin: auto;
                width: 90%;
                height:auto;
                border-radius: 10px;
                //box-shadow: 0px 0px 18px -4px black;
                .ability-text{
                    font-family: $helvetica;
                    font-size: 12px;
                    padding: 10px;
                    line-height: 13px;
                    div {
                        display: inline-block;
                    }
                }
            }
        }
        .bottom-container{
            position: absolute;
            bottom: 42px;
            right: 5px;
            &.bottom{
                bottom: 5px;
            }
            .role-container{
                position: relative;
                top: 13px;
                .img{
                    width: 15%;
                    margin-left: 6px;
                    float: left;
                }
                .name{
                    position: relative;
                    font-family: $beastformer;
                    font-size: 18px;
                    letter-spacing: 0.02em;
                    bottom: -11px;
                }
            }
            .star-container{
                position: relative;
                display: flex;
                top: 23px;
                right: 34px;
                height: 0px;
                span{
                    .mat-icon{
                        font-size: 12px;
                        width: 11px;
                        height: 0px;
                    }
                }
            }
            .crit-container {
                position: relative;
                top: 21px;
                right: -55px;
                height: 0px;
                img {
                    height: 10px;
                    padding-right: 2px;
                }
            }
            .initiative-container {
                position: absolute;
                font-family: "Beastformer";
                font-size: 18px;
                bottom: -7px;
                right: 31px;
            }
            .heart-container{
                .hp{
                    float: right;
                    width: 15%;
                    margin-left: 6px;
                }
            }
        }
        .element-info-container {
            position: absolute;
            display: flex;
            justify-content: space-between;
            bottom: 5px;
            left: 5px;
            background: #ebebeb;
            padding: 2px;
            border-radius: 6px;
            border: 2px solid black;
            img {
                max-height: 20px;
            }
            .info-container {
                position: relative;
                display: flex;
                align-items: center;
                .type {
                    background: black;
                    padding: 2px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    .defense-value {
                        font-size: 25px;
                        color: white;
                        font-family: $beastformer;
                        padding-left: 2px;
                    }
                }
                .elements{
                    position: relative;
                    display: flex;
                    img:first-child {
                        padding-left: 4px;
                        padding-right: 2px;
                    }
                    img {
                        padding: 0px 2px;
                    }
                }
            }
            &.right {
                right: 5px;
                left: unset;
                .elements {
                    img:first-child {
                        padding: 0px 2px;
                    }
                    img:last-child {
                        padding-left: 2px;
                        padding-right: 4px;
                    }
                }
            }
        }
    }
    .line-container {
        display: flex;
        margin-top: 1px;
        .left {
            width: 3.57cm;
        }
        .right { 
            width: 1.17cm;
        }
        .dot {
            position: relative;
            top: -3px;
            background-color: unset;
            border: solid black 3px;
        }
    }
}