<div id="monster-card">
  <div class="card-container">
    <div class="name-container">
      <div class="name">{{monster.monsterName}}</div>
      <div class="elements">
        <img *ngFor="let element of monster.elements" class="element-icon" src="{{getElementColorImg(element)}}">
      </div>
    </div>
    <div class="line-container">
      <hr align="left" class="name-line left">
      <span class="dot"></span>
      <hr align="right" class="name-line right">
    </div>
    <div class="ability-container">
      <div class="ability-name-container">
        <span class="ability-name">{{monster.abilityName}}</span>
      </div>
      <div class="ability-text-container">
        <span [innerHTML]="getAbilityText()" class="ability-text"></span>
      </div>
    </div>
    <div class="bottom-container" [ngClass]="{'bottom' : !monster.elements.length}">
      <div class="role-container">
        <img class="img" src="{{getRoleIcon()}}">
        <span class="name">{{this.monster.role}}</span>
      </div>
      <div class="star-container">
        <span *ngFor="let x of ' '.repeat(3).split(''), let i = index">
          <mat-icon *ngIf="monster.complexity >= i+1">star</mat-icon>
          <mat-icon *ngIf="monster.complexity < i+1">star_border</mat-icon>
        </span>
      </div>
      <span class="initiative-container">
        <span>{{monster.initiative}}</span>
      </span>
      <span class="heart-container">
        <img *ngIf="!monster.unityFlg" class="hp" src="{{getHpIcon()}}">
        <img *ngIf="monster.unityFlg" class="hp" src="./assets/images/symbols/heart.png">
      </span>
    </div>
    <div *ngIf="monster.elements.length" class="element-info-container">
      <div class="info-container">
        <div class="type">
          <img src="{{superEffective}}">
        </div>
        <div class="elements">
          <ng-container *ngFor="let effectiveness of monster.getEffectivenessArray(); index as i" class="elements">
            <img *ngIf="effectiveness == -1" class="element-icon" src="{{getElementColorImg(ELEMENT_LIST[i])}}">
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="monster.elements.length" class="element-info-container right">
      <div class="info-container">
        <div class="elements">
          <ng-container *ngFor="let effectiveness of monster.getEffectivenessArray(); index as i">
            <img *ngIf="effectiveness >= 1" class="element-icon" src="{{getElementColorImg(ELEMENT_LIST[i])}}">
          </ng-container>
        </div>
        <div class="type">
          <div class="defense-value">{{monster.getSwitchDefenseValue()}}</div>
          <img src="{{switchDefense}}">
        </div>
      </div>
    </div>
  </div>
</div>