<div id="monster-card">
  <div class="card-container {{getBackgroundImageCss()}}">
    <div class="name-container">
      <div class="name">{{monster.monsterName}}</div>
    </div>
    <div class="monster-image">
      <img class="{{monster.monsterName.toLowerCase()}}" *ngIf ="monster.imageFlg" src="{{getMonsterImage()}}">
    </div>
    <div class="stat-container">
      <div class="stats">
        <div class="hp-container">
          {{monster.hp}} <img class="hp" src="./assets/images/symbols/heart.png">
        </div>
        <div class="initiative-container">
          {{monster.initiative}}
        </div>
      </div>
    </div>
    <div class="ability-container">
      <div class="ability-text-container" #ABILITY>
        <span *ngIf="monster.startOfGame" [innerHTML]="getAbilityText(monster.startOfGame)" class="ability-text"></span>
        <span [innerHTML]="getAbilityText(monster.abilityText)" class="ability-text"></span>
      </div>
    </div>
  </div>
</div>