@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#monster-card{
    .card-container{
        position: relative;
        border: rgb(216, 216, 216) 2px solid;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: #ffffff;
        .elements-container{
            display: grid;
            grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
            justify-items: center;
            min-height: 29px;
            div{
                padding-bottom: 5px;
            }
            .effectiveness{
                font-family: $beastformer;
                .effective{
                    max-height: 19px;
                    top: 2px;
                    position: relative;
                }
                .value{
                    font-size: 22px;
                    top: 5px;
                    position: relative;
                    left: -1px;
                }
                .shield{
                    max-height: 21px;
                }
                .switch{
                    max-height: 15px;
                    position: relative;
                    top: -29px;
                }
            }
            .elements{
                display: grid;
                grid-template-rows: auto;
                justify-items: center;
                .element-icon{
                    max-height: 30px;
                }
            }
        }
        .name{
            font-family: $beastformer;
            font-size: 28px;
            text-align: center;
            margin-top: 5px;
            letter-spacing: 0.02em;
            min-height: 20px;
        }
        .line-container{
            padding-left: 4px;
            .name-line{
                border: 0.08cm solid black;
                width: 2.27cm;
                display: inline-block;
                margin: 0cm .2cm .1cm .2cm;
            }
            .dot{
                height: 10px;
                width: 10px;
                background-color: black;
                border-radius: 50%;
                display: inline-block;
            }
        }
        .ability-container{
            .ability-name-container{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;
                margin: auto;
                width: 89.7%;
                height: 11%;
                border-radius: 10px 10px 0px 0px;
                margin-top: 0.08cm;
                padding: 2px 0px 2px;
                .ability-name{
                    margin: auto;
                    font-family: $beastformer;
                    color: white;
                    font-size: 22px;
                    padding-bottom: 6px;
                    letter-spacing: 0.02em;
                    min-height: 26px;
                    z-index: 10;
                }
            }
            .ability-text-container{
                position: relative;
                top: -8px;
                display: flex;
                background-color: hsl(0, 0%, 94%);
                border: 2px black solid;
                margin: auto;
                width: 90%;
                height:auto;
                border-radius: 10px;
                box-shadow: 0px 0px 18px -4px black;
                .ability-text{
                    font-family: $helvetica;
                    font-size: 12px;
                    padding: 10px;
                    line-height: 13px;
                    div {
                        display: inline-block;
                    }
                }
            }
        }
        .bottom-container{
            position: absolute;
            bottom: 5px;
            right: 5px;
            .role-container{
                position: relative;
                top: 13px;
                .img{
                    width: 15%;
                    margin-left: 6px;
                    float: left;
                }
                .name{
                    position: relative;
                    font-family: $beastformer;
                    font-size: 18px;
                    letter-spacing: 0.02em;
                    bottom: -11px;
                }
            }
            .star-container{
                position: relative;
                display: flex;
                top: 23px;
                right: 34px;
                height: 0px;
                span{
                    .mat-icon{
                        font-size: 12px;
                        width: 11px;
                        height: 0px;
                    }
                }
            }
            .crit-container {
                position: relative;
                top: 21px;
                right: -55px;
                height: 0px;
                img {
                    height: 10px;
                    padding-right: 2px;
                }
            }
            .heart-container{
                .hp{
                    float: right;
                    width: 15%;
                    margin-left: 6px;
                }
            }
        }
    }
    .term{
        font-style: italic;
        font-size: 11px;
    }
    .term-img{
        max-height: 15px;
    }
}