<div id="print-all">
  <div class="container">
    <div class="header">
      <mat-checkbox [(ngModel)]="isAllToggle" (change)="toggleAll(allMonsters)">Select All?</mat-checkbox>
      <mat-checkbox 
        [(ngModel)]="extraCardFlg"
        matTooltip="Include standard buffs, action boards, and stat cube boards">
        Non-Monster Cards? <mat-icon>info</mat-icon>
      </mat-checkbox>
      <mat-form-field appearance="fill">
        <mat-label>Print by date</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="date" (dateChange)="printByDate()">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <dropdown
        style="width:inherit;"
        [label]="'Terms'"
        [model]="selectedTerms"
        [property]="'terms'"
        [options]="termOptions"
        [multi]="true"
        (selectionChange)="onTermSelect()">
      </dropdown>
      <button 
        mat-stroked-button (click)="loadPrevious()">Load Last Print
      </button>
      <button 
        matTooltip="Only works in Chrome. Use landscape and remove headers and footers." 
        mat-stroked-button (click)="print()">Print Cards 
        <mat-icon>info</mat-icon>
      </button>
    </div>
    <div *ngFor="let monster of allMonsters">
      <print-monster
        [monster]="monster"
        [isParentToggle]="isAllToggle">
      </print-monster>
    </div>
  </div>
</div>