<div id="print-all">
  <div class="container">
    <div class="header">
      <h2>Select which cards you'd like to print:</h2>
      <mat-checkbox [(ngModel)]="isAllToggle" (change)="toggleAll(allMonsters)">Select All?</mat-checkbox>
      <mat-checkbox 
        [(ngModel)]="extraCardFlg"
        matTooltip="Include standard buffs, action boards, and stat cube boards">
        Non-Monster Cards? <mat-icon>info</mat-icon>
      </mat-checkbox>
      <button 
        mat-stroked-button (click)="loadPrevious()">Load Last Print
      </button>
      <button 
        matTooltip="Only works in Chrome. Use landscape and remove headers and footers." 
        mat-stroked-button (click)="print()">Print Cards 
        <mat-icon>info</mat-icon>
      </button>
    </div>
    <div *ngFor="let monster of allMonsters">
      <print-monster
        [monster]="monster">
      </print-monster>
    </div>
  </div>
</div>