@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

body{
    -webkit-print-color-adjust:exact;
}

#app {
    #toolbar{
        color: red;
        mat-toolbar, .mat-toolbar-single-row {
            color: red;
            background: black !important;
            .name {
                color: red;
                font-family: $header-font !important;
            }
        }
    }
}

a.name.mat-button.mat-button-base {
    font-family: 'Beastformer';
}