<div id="toolbar"> 
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a mat-button class="name" routerLink="/">
        <span>Switchems!</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button [routerLink]="['/monster', 'builder']">Create</a>
        <a mat-button [routerLink]="['print']">Print & Play</a>
        <a mat-button [routerLink]="['/rules']">How to Play</a>
        <dropdown
            class="dropdown"
            [label]="'Search Monsters'"
            [model]="monster"
            [options]="monsters"
            [property]="'monsterName'"
            (selectionChange)="goToMonster()">
          </dropdown>
      </div>
  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="sidenav-container">
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" class="sidenav">
        <div fxLayout="column" class="sidenav-options">
          <a mat-button [routerLink]="['/monster', 'builder']">Create</a>
          <a mat-button [routerLink]="['/print']">Print & Play</a>
          <a mat-button [routerLink]="['/rules']">How to Play</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
