@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

body{
    -webkit-print-color-adjust:exact;
}

#toolbar{
    mat-toolbar {
        height: 63px;
        top: 0;
        position: fixed;
        z-index: 100;
        .name {
            font-family: $beastformer;
            font-size: 40px;
        }
        .name,a:hover{
            color: white;
        }
        .dropdown {
            position: fixed;
            right: 0;
            top: -11px;
        }
    }
    .sidenav-options {
        padding-top: 66px;
    }
    mat-sidenav-content {
        margin-top: 60px;
    }
}