<div id="buff-filters">
  <div class="col-12 form-element">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="buff.buffName">
    </mat-form-field>
  </div>
  <div class="col-12 form-element">
    <dropdown
      style="width:inherit;"
      [label]="'Timing'"
      [model]="buff"
      [property]="'timing'"
      [options]="buffTimings">
    </dropdown>
  </div>
  <div *ngIf="buff.timing !== 'None'" class="col-12 form-element">
    <mat-form-field class="textarea" appearance="fill">
      <mat-label>Buff Text</mat-label>
      <textarea matInput 
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        [(ngModel)]="buff.buffText">
      </textarea>
    </mat-form-field>
  </div>
  <div class="col-12 form-element">
    <mat-checkbox [(ngModel)]="buff.flipEventFlg">Flip Event?</mat-checkbox>
  </div>
  <div *ngIf="buff.flipEventFlg" class="col-12 form-element">
    <mat-form-field class="textarea" appearance="fill">
      <mat-label>Flip Event Text</mat-label>
      <textarea matInput 
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        [(ngModel)]="buff.flipEventText">
      </textarea>
    </mat-form-field>
  </div>
</div>