<div id="buff-filters">
  <div class="col-12 form-element">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="buff.buffName">
    </mat-form-field>
  </div>
  <div class="col-12 form-element">
    <mat-form-field class="textarea" appearance="fill">
      <mat-label>Buff Text</mat-label>
      <textarea matInput 
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        [(ngModel)]="buff.buffText">
      </textarea>
    </mat-form-field>
  </div>
  <div class="col-12 form-element">
    <mat-form-field class="textarea" appearance="fill">
      <mat-label>Aura Duration</mat-label>
      <input matInput
        min="0"
        max="10"
        type="number"
        #input
        [(ngModel)]="buff.auraDuration">
    </mat-form-field>
  </div>
</div>