@font-face { 
    font-family: 'Beastformer'; 
    src: url('src/assets/font/Beastformer.ttf') 
} 
@font-face { 
    font-family: 'Helvetica'; 
    src: url('src/assets/font/Helvetica.ttc') 
}

.term{
    font-style: italic;
    font-size: 11px;
}
.term-img{
    max-height: 15px;
}