@import 'src/assets/styles/fonts.scss';
@import 'src/styles.scss';

$red: #d0021b;
$blue: #4a90e2;
$purple: #bd10e0;;
$yellow: #e6d616;
$brown: #8b572a;
$green: #549d1a;

$link: #1b85ff;

$beastformer: 'Beastformer';
$helvetica: 'Helvetica';

$card-width: 6.3cm;
$card-height: 8.8cm;

.term{
    font-style: italic;
    font-size: 11px;
    display: inline-block;
    line-height: 11px;
    padding-top: 5px;
}
.term-img{
    max-height: 15px;
}

.stat-spread {
    font-weight: bold;
    color: white;
    span:first-child {
        border-radius: 5px 0px 0px 5px;
    }
    span:last-child {
        border-radius: 0px 5px 5px 0px;
    }
    span:only-child {
        border-radius: 5px;
    }
    span {
        padding: 0px 2px;
    }
    .positive {
        background-color: green;
        border: 2px solid green;
    }
    .neutral {
        background-color: gray;
        border: 2px solid gray;
    }
    .negative {
        background-color: red;
        border: 2px solid red;
    }
}