@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#rulebook-number {
    border: solid 4px red;
    height: 87px;
    border-radius: 35px;
    width: 87px;
    background: red;
    .inner {
        position: relative;
        background: black;
        height: 80px;
        width: 80px;
        border-radius: 55px;
        div {
            font-family: $beastformer;
            font-size: 76px;
            top: 28px;
            right: 17px;
            color: white;
            position: absolute;
            &.n1 {
                right: 27px;
            }
        }
    }
}