@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#rulebook {
    &.container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .section {
            &.columns-2 {
                grid-column: span 2;
            }
            &.has-image {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .image {
                    display: flex;
                    justify-content: center;
                    &.monster,&.action {
                        padding: 19px;
                    }
                }
            }
            background: #f1f1f1;
            padding: 15px;
            border-radius: 9px;
            margin: 10px;
            .title {
                text-decoration: underline;
                font-family: $beastformer;
                font-size: 40px;
                text-align: center;
                height: 37px;
            }
            .text{
                margin-bottom: 10px;
            }
        }
        ul,ol{
            margin-bottom: 10px;
        }
        h1 {
            font-family: $beastformer;
            text-decoration: underline;
            margin-bottom: unset;
            text-align: center;
            height: 42px;
            font-size: 30px;
            margin-top: 7px;
        }
    }
}