<div id="monster-form">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <monster-card-filters 
          *ngIf="selectedCard === 'MONSTER'" 
          [monster]="monster">
        </monster-card-filters>
        <action-filters 
          *ngIf="selectedCard === 'ACTION'" 
          [action]="monster.actions[index]">
        </action-filters>
        <buff-filters
          *ngIf="selectedCard === 'BUFF'"
          [buff]="monster.buffs[index]">
        </buff-filters>
        <!-- EXPANSION PANEL -->
        <div class="expansion-container">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Icon Codes
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="icon-grid">
                <div *ngFor="let item of imageCodes">
                  <img src="{{item.path}}" class="term-img"> - {{item.key}}
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Term Codes
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let item of termCodes">
                <strong>{{item.key}}</strong> - <span [innerHTML]="getTermText(item.value)"></span>
                <br><br>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngIf="monster.promiseDescription" class="promise-container">
          <div class="promise-title">Descripition</div>
          <span [innerHTML]="getPromiseText()" class="pt-1 promise-text"></span>
        </div>
        <button class="save-button" mat-stroked-button (click)="copy()">Copy Monster to Clipboard</button>
        <button class="save-button" mat-stroked-button (click)="save()">Save</button>
        <button *ngIf="monster.savedFlg" class="save-button" mat-stroked-button (click)="delete()" [routerLink]="['']">Delete</button>
        <div class="tts">
          <img 
            [routerLink]="['/tts', monster.monsterName]" 
            src="./assets/images/website/tts.png"
            matTooltip="Download card spritesheet for Tabletop Simulator (for best results, use Safari)"
            matTooltipPosition="right">
        </div>
      </div>
      <div class="col-8">
        <div class="card-container">
          <monster-card 
            *ngIf="selectedCard === 'MONSTER'" 
            [monster]="monster">
          </monster-card>
          <monster-action 
            *ngIf="selectedCard === 'ACTION'" 
            [action]="monster.actions[index]">
          </monster-action>
          <monster-buff
            *ngIf="selectedCard === 'BUFF'"
            [buff]="monster.buffs[index]">
          </monster-buff>
          <extra-board
            *ngIf="selectedCard === 'EXTRA'"
            [monster]="monster">
          </extra-board>
          <div class="hover-icons-container">
            <div class="hover-card-icon-container col-12">
              <div 
                (click)="selectedCard = 'MONSTER'" 
                (mouseover)="monster.isHovered = true" 
                (mouseout)="monster.isHovered = false" 
                class="hover-card-icon"
                [ngClass]="{'highlight' : selectedCard === 'MONSTER'}">
                <div class="icon">M</div>
              </div>
            </div>
            <div 
              *ngFor="let action of monster.actions; index as i" 
              class="hover-card-icon-container col-12">
              <div 
                (mouseover)="action.isHovered = true" 
                (mouseout)="action.isHovered = false" 
                class="hover-card-icon"
                [ngClass]="{'highlight' : index === i && selectedCard === 'ACTION'}" 
                (click)="index = i; selectedCard = 'ACTION'">
                <div class="icon">A</div>
              </div>
            </div>
            <div 
              *ngFor="let buff of monster.buffs; index as i" 
              class="hover-card-icon-container col-12">
              <div 
                (click)="index = i; selectedCard = 'BUFF'" 
                (mouseover)="buff.isHovered = true" 
                (mouseout)="buff.isHovered = false" 
                [ngClass]="{'highlight' : index === i && selectedCard === 'BUFF'}" 
                class="hover-card-icon">
                <span class="icon">B</span>
              </div>
            </div>
            <div *ngIf="monster.extraBoard" class="hover-card-icon-container col-12">
              <div 
                (click)="selectedCard = 'EXTRA'" 
                [ngClass]="{'highlight' : selectedCard === 'EXTRA'}" 
                class="hover-card-icon">
                <span class="icon">X</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>