<div id="monster-form">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <monster-card-filters 
          *ngIf="selectedCard === 'MONSTER'" 
          [monster]="monster">
        </monster-card-filters>
        <action-filters 
          *ngIf="selectedCard === 'ACTION'" 
          [action]="monster.actions[index]">
        </action-filters>
        <buff-filters
          *ngIf="selectedCard === 'BUFF'"
          [buff]="monster.buffs[index]">
        </buff-filters>
        <!-- EXPANSION PANEL -->
        <div class="expansion-container">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Icon Codes
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="icon-grid">
                <div *ngFor="let item of imageCodes">
                  <img src="{{item.path}}" class="term-img"> - {{item.key}}
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Term Codes
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let item of termCodes">
                <strong>{{item.key}}</strong> - {{item.value}}
                <br><br>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngIf="monster.promiseDescription">
          <div class="promise-title">
            Promise Descripition
          </div>
          <div class="pt-1">
            {{monster.promiseDescription}}
          </div>
        </div>
        <button class="save-button" mat-stroked-button (click)="save()">Copy Monster to Clipboard</button>
        <div class="tts">
          <img 
            [routerLink]="['/tts', monster.monsterName]" 
            src="./assets/images/website/tts.png"
            matTooltip="Download card spritesheet for Tabletop Simulator (for best results, use Safari)"
            matTooltipPosition="right">
        </div>
      </div>
      <div class="col-8">
        <div class="card-container">
          <monster-card 
            *ngIf="selectedCard === 'MONSTER'" 
            [monster]="monster">
          </monster-card>
          <monster-action 
            *ngIf="selectedCard === 'ACTION'" 
            [action]="monster.actions[index]">
          </monster-action>
          <monster-buff
            *ngIf="selectedCard === 'BUFF'"
            [buff]="monster.buffs[index]">
          </monster-buff>
          <div class="hover-icons-container">
            <div class="hover-card-icon-container col-12">
              <div 
                (click)="selectedCard = 'MONSTER'" 
                (mouseover)="monster.isHovered = true" 
                (mouseout)="monster.isHovered = false" 
                class="hover-card-icon"
                [ngClass]="{'highlight' : monster.isHighlighted}">
                <div class="icon">M</div>
              </div>
            </div>
            <div 
              *ngFor="let action of monster.actions; index as i" 
              class="hover-card-icon-container col-12">
              <div 
                (mouseover)="action.isHovered = true" 
                (mouseout)="action.isHovered = false" 
                class="hover-card-icon"
                [ngClass]="{'highlight' : action.isHighlighted}" 
                (click)="index = i; selectedCard = 'ACTION'">
                <div class="icon">A</div>
              </div>
            </div>
            <div 
              *ngFor="let buff of monster.buffs; index as i" 
              class="hover-card-icon-container col-12">
              <div 
                (click)="index = i; selectedCard = 'BUFF'" 
                (mouseover)="buff.isHovered = true" 
                (mouseout)="buff.isHovered = false" 
                class="hover-card-icon">
                <span class="icon">B</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>