#monster-form{
    margin: 50px;
    .form-element{
        margin-bottom: 15px;
        .mat-form-field {
            // padding: 2px 0px 0px 5px;
            border-radius: 3px;
            width: inherit;
            &.textarea {
                width: inherit;
            }
        }
    }
    .term{
        font-style: italic;
        font-size: 11px;
    }
    .term-img{
        max-height: 15px;
    }
    .expansion-container{
        font-size: 10px;
        .icon-grid{
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: left;
        }
    }
    .card-container{
        position: fixed;
        left: 50%;
        top: 15%;
    }
}