@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#monster-form{
    margin-top: 25px;
    margin-bottom: 50px;
    min-height: 900px;
    .expansion-container{
        font-size: 10px;
        .icon-grid{
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: left;
        }
    }
    .promise-container {
        .promise-title{
            font-weight: bold;
            padding-top: 10px;
        }
        .promise-text {
            div {
                display: contents;
            }
        }
    }
    .card-container{
        position: fixed;
        left: 43%;
        top: 14%;
    }
    .save-button{
        margin-top: 25px;
        width: inherit;
        background: white;
    }

    .hover-icons-container{
        position: absolute;
        left: 344px;
        top: -1%;
        .hover-card-icon-container{
            max-height: 34px;
            padding: 5px;
            .hover-card-icon{
                height: 25px;
                width: 25px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                &.selected{
                    background-color: $purple;
                }
                &.highlight{
                    background-color: #b4e7ff;
                }
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $beastformer;
                    font-size: 21px;
                    padding-top: 2px;
                }
            }
            .hover-card-icon:hover{
                background-color: rgb(238, 238, 238);
                cursor: pointer;
            }
        }
    }
    .tts{
        padding-top: 10px;
        display: block;
        margin: auto;
        text-align: center;
        img{
            max-height: 130px;
            cursor: pointer;
        }
    }
}