@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#monster-reference{
    --container-padding: 2px 5px 0px 5px;
    --font-size: 9px;
    --icon-max-height: 10px;
    .card-container{
        position: relative;
        border: rgb(216, 216, 216) 2px solid;
        border-radius: 11px;
        height: $card-height;
        width: $card-width;
        background-color: white;
        .top-container{
            display: flex;
            padding: var(--container-padding);
            justify-content: space-between;
            .name{
                font-family: 'Beastformer';
                font-size: 13px;
                letter-spacing: 0.02em;
            }
            .elements{
                display: flex;
                .element{
                    .element-icon{
                        max-height: 11px;
                        padding-right: 3px;
                    }
                }
            }
            img{
                max-height: 11px;
                padding-right: 3px;
            }
        }
        .ability-text-container{
            padding: var(--container-padding);
            padding-top: 0px;
            .ability-text{
                font-size: var(--font-size);
                line-height: 1;
                div {
                    display: inline-block;
                }
            }
        }
        .action-container{
            padding: var(--container-padding);
            .action-name {
                border-radius: 6px 6px 0px 0px;
                font-family: 'Beastformer';
                font-size: 12px;
                letter-spacing: 0.02em;
                background: black;
                color: white;
                max-height: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .action{
                padding: 2px;
                background: #f2f2f2;
                border: solid black 2px;
                border-top: 0px;
                .action-text{
                    font-size: var(--font-size);
                    line-height: 1;
                    div {
                        display: inline-block;
                    }
                }
            }
            .info-container {
                display: inline-grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                width: 100%;
                text-align: center;
                border: 2px solid black;
                border-top: none;
                border-radius: 0px 0px 6px 6px;
                font-family: $beastformer;
                .ref-icon{
                    max-height: var(--icon-max-height);
                }
                span{
                    .ref-icon{
                        max-height: var(--icon-max-height);
                    }
                }
                .cards{
                    .crd{
                        padding-right: 3px;
                        max-height: var(--icon-max-height);
                    }
                }
            }
        }
        .buff-container{
            padding: var(--container-padding);
            .buff{
                border: 1px black solid;
                border-radius: 6px;
                padding: 2px;
                font-size: var(--font-size);
                line-height: 1;
                span{
                    .timing{
                        font-weight: 900;
                        color: #7ed323;
                        &.red{
                            color: red;
                        }
                    }
                }
            }
        }
    }
    .ref-img{
        max-height: var(--icon-max-height);
    }
    .term-img{
        max-height: 8px;
    }
}