<div id="acorn-board">
  <div class="card-container">
    <div class="title">
      <img src="{{acorn}}"> Board
    </div>
    <div class="acorn-section-container">
      <div class="acorn-section">
        <img src="{{attack}}">
        <img src="{{acorn}}">
        <img src="{{arrow}}">+1<img src="{{attack}}">
      </div>
    </div>
    <div class="acorn-section-container">
      <div class="acorn-section">
        <img src="{{speed}}">
        <img src="{{acorn}}">
        <img src="{{arrow}}">+1<img src="{{speed}}">
      </div>
    </div>
    <div class="acorn-section-container">
      <div class="acorn-section">
        <img src="{{defense}}">
        <img src="{{acorn}}">
        <img src="{{arrow}}">+1<img src="{{defense}}">
      </div>
    </div>
  </div>
</div>