<div *ngIf="monster.extraBoard">
  <div *ngIf="monster.extraBoard === 'ACORN'">
    <acorn></acorn>
  </div>
  <div *ngIf="monster.extraBoard === 'GOOP'">
    <goop></goop>
  </div>
  <div *ngIf="monster.extraBoard === 'FIRMWARE'">
    <team-aura [teamAura]="firmwareUpdate"></team-aura>
  </div>
  <div *ngIf="monster.extraBoard === 'STUN'">
    <team-aura [teamAura]="stun"></team-aura>
  </div>
  <div *ngIf="monster.teamAura">
    <team-aura [teamAura]="monster.teamAura"></team-aura>
  </div>
</div>