#rulebook-buff {
    position: relative;
    .num {
        position: absolute;
        z-index: 20;
        transform: scale(0.4);
        &.num-1 {
            top: -24px;
            left: -56px;
        }
        &.num-2 {
            top: -15px;
            left: 94px;
        }
        &.num-3 {
            top: 63px;
            left: -49px;
        }
        &.num-4 {
            top: 242px;
            left: -47px;
        }
        &.num-5 {
            top: 294px;
            left: 203px;
        }
    }
}