<div id="toolbar">
  <div *ngIf="toolbarService.visible" class="padding">
    <mat-toolbar color="primary">
      <div class="button-container">
        <span [routerLink]="['']" class="logo">Switchems!</span>
        <span [routerLink]="['/monster', 'builder']" class="button">Create New Monster</span>
        <span [routerLink]="['/print']" class="button">Print & Play</span>
        <span [routerLink]="['/rules']" class="button">How to Play</span>
        <dropdown
          class="dropdown"
          [label]="'Search Monsters'"
          [model]="monster"
          [options]="monsters"
          [property]="'monsterName'"
          (selectionChange)="goToMonster()">
        </dropdown>
      </div>
    </mat-toolbar>
  </div>
</div>