<div *ngIf="toolbarService.visible" id="toolbar"> 
  <mat-toolbar *ngIf="true" color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="name" routerLink="/">
      <span>{{title}}</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <ng-container *ngFor="let tab of tabs">
        <a mat-button (click)="selectTab(tab)">{{tab.name}}</a>
      </ng-container>
      <dropdown
          class="dropdown"
          [label]="'Search'"
          [model]="searchOption"
          [options]="searchOptions"
          [route]="true">
        </dropdown>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="sidenav-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" class="sidenav" fixedInViewport="true">
      <div fxLayout="column" class="sidenav-options">
        <ng-container *ngFor="let tab of tabs">
          <a mat-button (click)="selectTab(tab)">{{tab.name}}</a>
        </ng-container>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div *ngIf="!toolbarService.visible">
  <router-outlet></router-outlet>
</div>
