<!-- <div id="toolbar">
  <div *ngIf="toolbarService.visible" class="padding">
    <mat-toolbar color="primary">
      <div class="button-container">
        <span [routerLink]="['']" class="logo">Switchems!</span>
        <span [routerLink]="['/monster', 'builder']" class="button">Create New Monster</span>
        <span [routerLink]="['/print']" class="button">Print & Play</span>
        <span [routerLink]="['/rules']" class="button">How to Play</span>
        <dropdown
          class="dropdown"
          [label]="'Search Monsters'"
          [model]="monster"
          [options]="monsters"
          [property]="'monsterName'"
          (selectionChange)="goToMonster()">
        </dropdown>
      </div>
    </mat-toolbar>
  </div>
</div> -->

<div id="toolbar"> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>Switchems!</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button [routerLink]="['/monster', 'builder']">Create</a>
      <a mat-button [routerLink]="['print']">Print & Play</a>
      <a mat-button [routerLink]="['/rules']">How to Play</a>
      <!-- <dropdown
          class="dropdown"
          [label]="'Search Monsters'"
          [model]="monster"
          [options]="monsters"
          [property]="'monsterName'"
          (selectionChange)="goToMonster()">
        </dropdown> -->
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="true" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button [routerLink]="['/monster', 'builder']">Create</a>
        <a mat-button [routerLink]="['/print']">Print & Play</a>
        <a mat-button [routerLink]="['/rules']">How to Play</a>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>