@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#toolbar{
    .padding{
        padding-top: 60px;
    }
    mat-toolbar {
        height: 63px;
        top: 0;
        position: fixed;
        z-index: 100;
        .button-container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: flex-start;
            span{
                padding-right: 50px;
            }
            .logo{
                cursor: pointer;
                font-family: $beastformer;
                font-size: 40px;
            }
            .button{
                cursor: pointer;
                font-family: $helvetica;
                font-size: 15px;
            }
            .dropdown{
                position: fixed;
                right: 0;
                top: -11px;
            }
        }
    }
}