.padding{
    padding-top: 60px;
}
mat-toolbar {
    --default-height: 50px;
    top: 0;
    position: fixed;
    height: var(--default-height);
    z-index: 1;
    .logo{
        cursor: pointer;
        font-family: 'Beastformer';
        font-size: 40px;
    }
}