/* You can add global styles to this file, and also import other style files */
@font-face { 
    font-family: 'Beastformer'; 
    src: url('/assets/fonts/Beastformer.ttf') format("ttf")
} 
@font-face { 
    font-family: 'Helvetica'; 
    src: url('/assets/fonts/Helvetica.ttc') format("ttc")
}

@page {
    size: auto;
  }

html, body { height: 100%; }
body { 
    margin: 0%; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    -webkit-print-color-adjust:exact;
}

em{
    padding-top: 5px;
    font-size: 10px;
    display: block;
    line-height: 11px;
}

.line-container{
    padding-left: 4px;
    .name-line{
        border: 0.04cm solid black;
        width: 2.37cm;
        display: inline-block;
        margin: 0cm .2cm .1cm .2cm;
        background-color: black;
    }
    .dot{
        height: 10px;
        width: 10px;
        background-color: black;
        border-radius: 50%;
        display: inline-block;
    }
}