@import 'src/assets/styles/fonts.scss';
@import 'src/styles.scss';

$red: #d0021b;
$blue: #4a90e2;
$purple: #bd10e0;;
$yellow: #e6d616;
$brown: #8b572a;
$green: #549d1a;

$beastformer: 'Beastformer';
$helvetica: 'Helvetica';

$card-width: 6.3cm;
$card-height: 8.8cm;

.term{
    font-style: italic;
    font-size: 11px;
}
.term-img{
    max-height: 15px;
}