@font-face { 
    font-family: 'Beastformer'; 
    src: url('/Users/CalvinHolt/Library/Fonts/Beastformer.ttf') 
} 
@font-face { 
    font-family: 'Helvetica'; 
    src: url('/System/Library/Fonts/Helvetica.ttc') 
}