@import 'src/assets/styles/constants.scss';
@import 'src/styles.scss';

#summary {
    margin-bottom: 100px;
    .table-container {
        background-color: #f1f1f1;
        padding: 10px;
        margin-bottom: 10px;
        border: 0px solid;
        border-radius: 25px;
        width: inherit;
        h2 {
            text-align: center;
            font-size: 16px;
            margin-bottom: 0px;
        }
        img {
            width: 40px;
        }
        table {
            width: inherit;
            text-align: center;
            td {
                font-size: 35px;
                font-family: $beastformer;
                padding: 7px;
            }
        }
    }
}