@font-face { 
    font-family: 'Beastformer'; 
    src: url('~/assets/fonts/Beastformer.ttf') format("ttf")
} 
@font-face { 
    font-family: 'Helvetica'; 
    src: url('~/assets/fonts/Helvetica.ttc') format("ttc")
}

.term{
    font-style: italic;
    font-size: 11px;
}
.term-img{
    max-height: 15px;
}